/*Header*/
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Body {
  width: 1440px;
  height: 100%;
  margin: 24px;
  padding: 24px;
  border: 1px solid navy;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #98A9EA;
  font-size: 16px;
}

.main {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.page-header {
  width: 900px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px black;
}

.date {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding-left: 5px;

}

.store-name {
  display: flex;
  font-size: x-large;
  justify-content: center;
  margin-bottom: 0px;
}

.page-description {
  display: flex;
  justify-content: center;
  font-size: small;
}

/*Rolling Average Table*/
.summary-table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.One {
  border: solid 1px black;
  border-spacing: 2px;
  background-color: white;
}

.green {
  text-align: center;
  background-color: #00FF00;
}

.red {
  text-align: center;
  background-color: #EF1E1E;
}

/* Vehicle entry form */
.search-row {
  background-color: #98A9EA;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  font-weight: bold;
  color: black;
}

.override {
  background-color: lightgray;
}

/*Route Tables*/
.section-title {
  Display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

table {
  border-collapse: separate;
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  font-variant: normal;
}

.route-table {
  font-family: arial;
  background-color: #CDCDCD;
  margin: 10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border: 1px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-collapse: collapse;
  font-size: 13px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}

td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  display: table-cell;
  border-collapse: collapse;
  font-size: 13px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0)
  }

  40% {
    color: rgb(0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0)
  }

  60% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgb(0, 0, 0)
  }

  80%, 100% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgb(0, 0, 0)
  }
}

.search-vehicle {
  width: 500px;
  height: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.add-vehicle {
  display: flex;
  justify-content: flex-end;
  margin-top: -24px;
}

.addform-input {
  margin-right: 10px;
}

.submit-button {
  height: 23px;
  margin-top: 18px;
}

.logout-btn {
  display: flex;
  justify-content: flex-end;
}

/* Login Page */

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
  background: #98A9EA;
}

.login-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 190px;
}

.register-or-login-links {
  padding: 16px;
}

.add-form .disperss label.addform-input {
  max-width: 100%;
}
.add-form label.addform-input {
  width: 100%;
  display: block;
  max-width: 600px;
  margin: 0 auto 20px;
}
.add-form label.addform-input select#dept_id {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
}
.add-form .disperss label.addform-input {
  max-width: calc(33.33% - 10px);
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
.add-form .disperss label.addform-input input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  padding: 0 10px;
}
.add-form label.addform-input.msg-box {
  float: none;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.add-form label.addform-input.msg-box textarea {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  padding: 10px;
}
.add-form button.submit-button {
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #000;
  border: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
}
.add-form button.submit-button:hover {
  background: rgb(0 0 0 / 70%);
  box-shadow: 0 7px 10px #5b5b5b;
}
.actionbtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.add-form button.submit-button.cancel {
  background: #474747;
}


.notes {
  position: relative;
  width: 410px;
}
.notes p {
  max-width: 410px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.notes .tooltiptext {
  display: none;
  width: 400px;
  color: #fff;
  background-color: rgb(11 11 11 / 96%);
  text-align: left;
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  word-break: break-all;
  top: 30px;
  max-width: 100%;
}

.notes:hover .tooltiptext {
  display: block;
}